In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/home/data/MSA8010/msa8010f16t10/projectdata_new.csv")

In [8]:
df.head()

,loan_status,loan_amnt (optional),installment (optional),annual_inc (optional),term,int_rate,grade,emp_length,home_ownership,verification_status,...,dti2 (optional),total_dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,Credit History (year)
0,0,5000,162.87,24000.0,36 months,10.65,B,10+ years,RENT,Verified,...,8.144,35.794,0,1,3,0,13648,83.7,9,31.944
1,1,2500,59.83,30000.0,60 months,15.27,C,< 1 year,RENT,Source Verified,...,2.393,3.393,0,5,3,0,1687,9.4,4,17.694
2,0,2400,84.33,12252.0,36 months,15.96,C,10+ years,RENT,Not Verified,...,8.260,16.980,0,2,2,0,2956,98.5,10,0.111
3,0,10000,339.31,49200.0,36 months,13.49,C,10+ years,RENT,Source Verified,...,8.276,28.276,0,1,10,0,5598,21.0,37,20.861
4,0,5000,156.46,36000.0,36 months,7.90,A,3 years,RENT,Source Verified,...,5.215,16.415,0,3,9,0,7963,28.3,12,0.103

In [4]:
df.drop("Unnamed: 0", inplace=True, axis=1)

In [7]:
df.loan_status.replace({'Fully Paid':0, 'Charged Off':1, 'Default':1}, inplace=True)

In [9]:
df.to_csv('projectdata_new2.csv')